  <section id="monkeytablesDownload" class="section">
    <div class="container">
      <div class="title col-md-8 col-sm-10 col-xs-12"> 
        <h1>Getting<strong> Started</strong></h1>
        <hr>
      </div>

      <!-- build:remove -->
      <div class="download">
        <p class="marginTop30"><a href="javascript:void(0);" class="btn btn-custom download-btn"><i class="fa fa-arrow-circle-down"></i>Download monkeyTables</a></p> 
        <p class="download-info"><%= releaseSize %> | <%= releaseVersion %> released <%= releaseDate %> <br>supports laravel &amp; lumen </p>
        <div class="clearFloat"></div>
      </div>

      <p> or check:</p>
      <!-- /build -->

      <div class="download">
        <p class="marginTop15"><a href="https://github.com/designitgmbh/monkeyTables" class="btn btn-custom download-btn"><i class="fa fa-github"></i>monkeyTables Github</a></p>
        <div class="clearFloat"></div>
      </div>

      <div class="fav-line">
        <div class="col-md-5 col-sm-5 col-xs-5 line"></div>
        <div class="col-md-2 col-sm-2 col-xs-2 fav-img"><p class="center"><img src="images/labs/monkeytables/favicon.png"></p></div>
        <div class="col-md-5 col-sm-5 col-xs-5 line"></div>
        <div class="clearFloat"></div>
      </div>

      <h5>Composer</h5>
      <p>You can install the monkeyTables PHP backend through Composer, a package manager for PHP. Once you have the composer command line tool installed, you can type <code class="language-">$ composer.phar require "designitgmbh/monkey-tables":"dev-master"</code> For any additional information just checkout the gitHub read me!</p>

      <!-- build:remove -->
      <h5>Bower Component</h5>
      <p>You can install monkeyTables through Bower, a package manager for web components. Once you have the bower command line tool installed, you can type <code class="language-">$ bower install monkeytables</code>. You might need to run bower cache clean first to get the latest versions because of a repo switcheroo. </p>

      <h5>CDNJS</h5>
      <p>Nulla sagittis eros eget consectetur sagittis. Donec sed dui quis mi <a href="">molestie venenatis</a>. Nulla nec tortor vel orci efficitur dapibus auctor vel nisl. Donec blandit congue arcu, nec tempor justo faucibus et. Aenean sodales luctus egestas. Morbi ut aliquam nibh. Proin cursus egestas scelerisque. Sed in congue tortor, et luctus sem.</p>
      <p><pre><code class="language-markup">&lt;!-- URLS --&gt;
//cdnjs.something.com/ajax/libs/monkeyTables/alpha/monkeyTables.min.js
//cdnjs.something.com/ajax/libs/monkeyTables/alpha/monkeyTables.min.css</code></pre></p>
      
      <div class="note">
        <p><span class="note-title">Note:</span> the <code class="language-">//</code> at the beginning of each URL. This causes the files to be fetched over the same protocol as the current page, whether it is <code class="language-">http://</code> or <code class="language-">https://</code>.</p>
      </div>
      <!-- /build -->

    </div>
  </section>
  <!-- End Services Section -->