<section id="monkeytablesIntro" class="section">
    <div class="container">
      <div class="title col-md-8 col-sm-10 col-xs-12"> 
        <h1>monkey<strong>Tables</strong></h1>
        <hr>
        <p>Effectively show, filter and manipulate your data directly from the database</p>
      </div>
      <p>monkeyTables are a set of PHP and JavaScript libraries with the necessary styling, to provide you with a simple and effective package, that will allow you to create powerful tables directly made from your database. <br />
      It brings a lot of nice features including:</p>
      <ul>
        <li>Automatic filtering</li>
        <li>Sorting</li>
        <li>Presets</li>
        <li>Inline editing</li>
        <li>Tabbing</li>
        <li>And much more...</li>
      </ul>
      <br />

      <img src="images/labs/monkeytables/table.png" alt="monkeyTables" class=""> 

      <!-- build:remove -->
      <div class="download">
        <p class="marginTop30"><a href="javascript:void(0);" class="btn btn-custom download-btn"><i class="fa fa-arrow-circle-down"></i>Download monkeyTables</a></p> 
        <p class="download-info">
          <%= releaseSize %> | <%= releaseVersion %> released <%= releaseDate %> <br>supports laravel &amp; lumen </p>
        <div class="clearFloat"></div> 
      </div>
      <!-- /build -->

      <div class="download">
        <p class="marginTop15"><a href="https://github.com/designitgmbh/monkeyTables" class="btn btn-custom download-btn"><i class="fa fa-github"></i>monkeyTables Github</a></p>
        <div class="clearFloat"></div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

<!-- 
  ****************************************************************************************************************
  demos ************************************************* demos ******************************************** demos
  ****************************************************************************************************************
   -->
  <section id="demos" class="section marginTop30">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 optionmenu">
          <div class="MenuLabList dark paddingTop30 paddingBot30">
            <h4>Features</h4>
            <div class="linea marginBot15"></div>
            <ul class="" id="">
              <li><a href="javascript:void(0);" id="database" class="mt-btn active">Directly from the Database</a></li>
              <li><a href="javascript:void(0);" id="filter" class="mt-btn">Filter Data automatically</a></li>
              <li><a href="javascript:void(0);" id="datatypes" class="mt-btn">Supports different Data Types</a></li>             
              <li><a href="javascript:void(0);" id="quicksearch" class="mt-btn">Quick Search</a></li>
              <li><a href="javascript:void(0);" id="presets" class="mt-btn">Presets</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 show-demos borderleft entries">
          <div id="mt-info-database" class="mt-info show-mt-info">
              <h1>Directly from the Database</h1>
              <p>monkeyTables provide you with a convenient interface to fetch all the data directly from the database. Its direct integration with Eloquent allows you to easily use relations defined in the ORM.</p>
              <p><pre><code class="language-markup">
$mTable = new mTable;
$mTable
    ->setRequest(Request::all())
    ->source('Project');

$mTable->add(
    (new mTableColumn("#", "id"))
)->add(
    (new mTableColumn("Title", "title"))
        ->setClickable("/item/{{ID}}", "id")
)->add(
    (new mTableColumn("Service", "service->name"))
        ->setClickable("/service/{{ID}}", "service->id")
)->add(
    (new mTableColumn("Destination", "destination->city->name"))
);

return response()->json($mTable->render());</code></pre></p>
          </div><!-- mt-info -->
          <div id="mt-info-filter" class="mt-info">
              <h1>Filter Data automatically</h1>
              <p>Never worry again about writing extra code to filter your data table for any value. Every column that you add to your table will automatically be filterable.</p>

              <img src="images/labs/monkeytables/filters.png" alt="monkeyTables" width="600" />
          </div><!-- mt-info -->
          <div id="mt-info-datatypes" class="mt-info">
              <h1>Supports different Data Types</h1>
              <p>Booleans, dates, numbers, strings, ..? No problem for monkeyTables, just set the appropriate type to automatically adjust filters and formatting.</p>

              <p><pre><code class="language-markup">
$mTable->add(
    (new mTableColumn("Updated at", "updated_at"))
      ->setType("date")
);

$mTable->add(
    (new mTableColumn("Published", "published"))
      ->setType("bool")
);

$mTable->add(
    (new mTableColumn("Total Sales", "sales_amount"))
      ->setType("number")
);

$mTable->add(
    (new mTableColumn("Revenue", "revenue"))
      ->setType("currency")
);
</code></pre></p>
          </div><!-- mt-info -->
          <div id="mt-info-quicksearch" class="mt-info">
              <h1>Quick Search</h1>
              <p>Just want to grab for some specific word or number? Quick search allows you to enter any search term and searches for it in all shown columns.</p>

              <img src="images/labs/monkeytables/quicksearch.png" alt="monkeyTables" />
          </div><!-- mt-info -->
          <div id="mt-info-presets" class="mt-info">
              <h1>Presets</h1>
              <p>Every combination of filters, sorting and even rows per page can be saved into a preset. You can then use this preset at any time to recover your previous modifications. It is possible to make a preset default, so it is loaded every time you open your table. Also you can make presets general, so they are accessible to other users.</p>

              <img src="images/labs/monkeytables/preset.png" alt="monkeyTables" />
          </div><!-- mt-info -->

        </div><!-- show-demos -->
      </div>
    </div>  
  </section>