<section id="monkeytablesIntro" class="section">
    <div class="container">
      <div class="title col-md-8 col-sm-10 col-xs-12"> 
        <h1>monkey<strong>Tables</strong></h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>    

      <img src="images/labs/monkeytables/table.png" alt="monkeyTables" class=""> 

      <div class="download">
        <p class="marginTop30"><a href="javascript:void(0);" class="btn btn-custom download-btn"><i class="fa fa-arrow-circle-down"></i>Download monkeyTables</a></p> 
        <p class="download-info">
          <%= releaseSize %> | <%= releaseVersion %> released <%= releaseDate %> <br>supports laravel &amp; lumen </p>
        <div class="clearFloat"></div> 
      </div>
    </div>
  </section>
  <!-- End Services Section -->

<!-- 
  ****************************************************************************************************************
  demos ************************************************* demos ******************************************** demos
  ****************************************************************************************************************
   -->     
  <section id="demos" class="section marginTop30">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 optionmenu">
          <div class="MenuLabList dark paddingTop30 paddingBot30">
            <h4>Demos</h4>
            <div class="linea marginBot15"></div>
            <ul class="" id="">
              <li><a href="javascript:void(0);" id="bviews" class="mt-btn active">Basic views</a></li>
              <li><a href="javascript:void(0);" id="inter" class="mt-btn">Internationalization</a></li>
              <li><a href="javascript:void(0);" id="srang" class="mt-btn">Selecting ranges</a></li>             
              <li><a href="javascript:void(0);" id="bevent" class="mt-btn">Background events</a></li>
              <li><a href="javascript:void(0);" id="jq" class="mt-btn">jQuery UI theme</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 show-demos borderleft entries">
          <div id="mt-info-bviews" class="mt-info show-mt-info">
              <h1>Basic Views</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
          </div><!-- mt-info -->
          <div id="mt-info-inter" class="mt-info">
              <h1>Internationalization</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
          </div><!-- mt-info -->
          <div id="mt-info-srang" class="mt-info">
              <h1>Selecting ranges</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio.  Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
          </div><!-- mt-info -->
          <div id="mt-info-bevent" class="mt-info">
              <h1>Background events</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio torto</p> 
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
          </div><!-- mt-info -->
          <div id="mt-info-jq" class="mt-info">
              <h1>jQuery UI theme</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada egetauctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lacus sed tortor bibendum tincidunt. Sed est quam, sagittis sit amet malesuada eget, finibus ut odio. Donec tincidunt, velit vel viverra sollicitudin, ligula quam lobortis sapien, in pellentesque ex dolor vitae tortor. Aliquam eget dictum ipsum, luctus gravida risus. Donec non volutpat velit. Ut vel congue turpis. Curabitur auctor, mauris id convallis blandit, metus turpis consectetur sem, vel tempor nunc purus sit amet torto</p>
          </div><!-- mt-info -->

        </div><!-- show-demos -->
      </div>
    </div>  
  </section>